:root {
    --background: #1E1E1E;
    --accent: #FF7A00;
    --tag: #6699CE;
    --attr-name: #9ECBE8;
    --attr-value: #C5947C;
    --operator: #6F6F6F;
    --comment: #74985D;
    --func: #DBDBAF;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body { 
    color: white;
    background-color: var(--background);
    font-family: 'Courier New', Courier, monospace;
}

header {
    font-size: 14pt;
    padding: 16px;
    text-align: center;
}

menu {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    width: fit-content;

    & a {
        font-size: 16pt;
    }
}

a       { text-decoration: none; color: var(--accent); }
a:hover { text-decoration: underline; }

main {
    padding: 16px;
    max-width: 800px;
    margin: auto;
}

code {
    font-size: 16pt;
    font-size: 3vw;
    line-height: 150%;
}

p {
    color: #888888;
    font-size: 18pt;
    padding: 32px 0px;
}

.accent { color: var(--accent); }

tag-open                { color: var(--tag); }
tag-open:before         { color: var(--operator); content: "<"; }
tag-open:after          { color: var(--operator); content: ">"; }
tag-close               { color: var(--tag); }
tag-close:before        { color: var(--operator); content: "</"; }
tag-close:after         { color: var(--operator); content: ">"; }
tag-self-close          { color: var(--tag); }
tag-self-close:before   { color: var(--operator); content: "<"; }
tag-self-close:after    { color: var(--operator); content: "/>"; }

attr-name               { color: var(--attr-name); }
attr-value              { color: var(--attr-value); }
attr-unquoted           { color: var(--attr-value); }
func                    { color: var(--func); }

comment                 { color: var(--comment); }
comment::before         { content: "<!-- "; }
comment::after          { content: " -->"; }

expression              { color: white; }
expression::before      { color: var(--accent); content: "{{"; }
expression::after       { color: var(--accent); content: "}}"; }

operator                { color: var(--operator) }

@media (min-width:768px) {
    code {
        font-size: 16pt;
    }
}

